<!DOCTYPE html>
<html>
<head>
	<title>邮箱激活成功</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/email.css">
	<script>
		setTimeout("window.location.href='login'",5000);
	</script>
</head>
<body>
<div class="e-top"></div>
<div class="e-bottom"></div>
<div class="e-middle">
	<span class="e-1"><img src="images/renote.svg" style="height: 40px;padding-right:20px;">Renote</span>
	<div class="e-1"><img src="images/email.success.svg" style="height: 40px;padding-right:20px;">验证邮箱成功</div>
	<span class="e-3" style="font-size: 18px;">即将自动跳转到登录界面...&nbsp;&nbsp;<a href="login">点击直接跳转</a></span>
</div>
<div class="e-b">版权 &copy; Renote Team. 保留所有权利。</div>
</body>
</html>