<!DOCTYPE html>
<html>
<head>
	<title>邮箱激活失败</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/email.css">
	<script>
		setTimeout("window.location.href='register'",5000);
	</script>
</head>
<body>
<div class="e-top"></div>
<div class="e-bottom"></div>
<div class="e-middle">
	<span class="e-1"><img src="images/renote.svg" style="height: 40px;padding-right:20px;">Renote</span>
	<div class="e-1"><img src="images/email.fail.svg" style="height: 45px;padding-right:20px;">无效的验证地址或已过期</div>
	<span class="e-3" style="font-size: 18px;">即将自动跳转到注册界面...&nbsp;&nbsp;<a href="register">点击直接跳转</a></span>
</div>
<div class="e-b">版权 &copy; Renote Team. 保留所有权利。</div>
</body>
</html>