<!DOCTYPE html>
<html>
<head>
	<title>Renote</title>
	<script src="js/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script src="js/markdown-it.js"></script>
	<script src="js/toMark.js"></script>
	<script src="js/tui-code-snippet.js"></script>
	<script src="js/tui-color-picker.js"></script>
	<script src="js/codemirror.js"></script>
	<script src="js/highlight.pack.js"></script>
	<script src="js/squire-raw.js"></script>

	<script src="js/plantuml-encoder.js"></script>
	<script src="js/raphael.js"></script>
	<script src="js/tui-chart.js"></script>
	<script src="js/tui-editor-Editor-all.js"></script>

	<link rel="stylesheet" href="css/tui-editor.css">
	<link rel="stylesheet" href="css/tui-editor-contents.css">
	<link rel="stylesheet" href="css/tui-color-picker.css">
	<link rel="stylesheet" href="css/tui-chart.css">

	<link rel="stylesheet" href="css/codemirror.css">
	<link rel="stylesheet" href="css/github.css">
	<script src="js/shownote.js"></script>
	<meta charset="utf-8">
</head>
<body>
<div class="header-s">
	<div class="h-l">
		<img class="image-logo" src="images/renote.svg">
		<span class="renote-logo">Renote</span>
		<img class="image-I" src="images/I.png">
		<span class="title-h"></span>
	</div>
	<div class="h-r">
		<img class="user-image" src="images/default.jpg">
		<i class="arrow-line"></i>
		<div class="bt-a" id="collect-bt">收藏</div>
	</div>
</div>
<div id="main-s">
	<div id="note-s">
		<span class="title-m-b"></span>
		<div class="note-info">
			<img class="user-image" src="images/default.jpg">
			<span class="user-name-m"></span>
			<span class="other-in"></span>
		</div>
		<div id="note-c">

			
		</div>
		<div id="like-bt"><img src="images/praised.svg" style="height: 23px;"><span style="position: absolute;">赞</span></div>
	</div>
	<div id="comments-s">
		<span class="text-strong">发表评论</span>
		<div class="comments-block comments-in">
			<img class="user-image" src="images/default.jpg">
			<textarea type="text" name="comments-input" class="comments-input"></textarea>
			<div id="comment-add" class="bt-a">发表</div>
		</div>
		<div class="comments-list-area">
			<span class="text-strong" id="comments-number">0条评论</span>
			<div class="comments-block">
				<ul id="comments-ul">
				</ul>
			
			</div>
		</div>
		
	</div>
</div>
<div id="recomend-s">
	<div id="recomend-s-title">推荐阅读</div>
	<ul id="recomend-ul">
		
	</ul>
</div>
<div id="bottom-s"></div>
</body>
</html>