<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.renote.mapper.NeighborMapper">



    <select id="findNeighbor" resultType="String" parameterType="Long">
        SELECT neighbor FROM neighbor WHERE note_id = #{id}
    </select>

</mapper>

