<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.renote.mapper.NoteContentMapper">
    <resultMap id="NoteContent" type="top.renote.model.NoteContent">
        <id property="ncId" column="nc_id" />
        <result property="content" column="content" />
        <result property="createId" column="creater_id" />
        <result property="shared" column="shared" />
        <result property="tag" column="tag" />
        <result property="type" column="type" />
    </resultMap>
</mapper>

