<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.renote.mapper.ScanMapper">

    <select id="findRecent" resultType="Long" parameterType="Long">
        SELECT note_id FROM scan WHERE user_id = #{userId} ORDER BY gmt_create DESC
    </select>

</mapper>

